.betLimitPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $BG_Color00;
    position: relative;

    .dataTable {
        width: 100%;
        height: auto;
        padding: 0 2vw;
        overflow-y: auto;
        position: relative;
        z-index: 3;

        .tableOuter {
            width: auto;
            height: auto;
            border-radius: 2vw;
            border: 0.2vw solid $Border_06;
            box-shadow: 0 1px 4px $shadow_01;
            margin-bottom: 2vw;
            overflow: hidden;

            &.active {

                table {

                    tr {

                        &.gameName {
    
                            th {
                                background: $BG_Color06;

                                p {
                                    color: $Font_Color01 !important;
                                }
    
                                i {
                                    filter: brightness(0.2);
                                    transform: rotate(-180deg);
                                }
                            }
                        }
    
                        td {
                            display: table-cell;
                        }
                    }
                }
            }

            table {
                width: 100%;
                height: auto;
                background: $BG_Color04-3;
                border-collapse: collapse;
                overflow: hidden;

                tr {
                    border-bottom: 0.2vw solid $Border_06;
                    
                    &.gameName {

                        th {
                            width: 100%;
                            height: 8vw;
                            background: $BG_Color03;
                            vertical-align: middle;
                            padding: 0 3vw;
                            position: relative;

                            .outer {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                p {
                                    color: $Font_Color03;
                                    font-size: 4vw;
                                    font-weight: bold;
                                    letter-spacing: 2px;
                                    text-align: start;
                                }
    
                                i {
                                    transition: all 0.3s;
                                }
                            }
                        }
                    }

                    &:nth-of-type(2) {

                        p {
                            color: $Font_Color04 !important;
                        }
                    }

                    &:nth-of-type(odd) {
                        background: $BG_Color11;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    td {
                        display: none;
                        width:calc(100% / 3);
                        height: 8vw;
                        border-right: 0.2vw solid $Border_06;
                        vertical-align: middle;
                        padding: 0 2vw;

                        &:first-child {

                            p {
                                color: $Font_Color07;
                            }
                        }

                        &:last-child {
                            border-right: none;
                        }
                        
                        .outer {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        p {
                            color: $Font_Color03;
                            font-size: 3.8vw;
                            font-weight: bold;
                            text-align: center;
                            white-space: nowrap;

                            span {
                                color: $Font_Color04;
                            }
                        }
                    }
                }
            }
        }
    }
}