footer {
    width: 100%;
    height: pxToVw(300);
    height: auto;
    display: flex;
    flex-direction: column;
    background: $BG_Color00;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;

    &::before {
        content: "";
        width: 100%;
        height: 3vw;
        background: $BG_Color00;
        position: absolute;
        top: 1%;
        left: 0;
        z-index: -1;
    }

    &.betRecord_Style {
        background: $BG_Color08;

        &::before {
            background: $BG_Color08;
        }
    }

    &.highIndex {
        z-index: 20;
    }

    &.innerPage_Mode {
        bottom: -5px;

        .mainPageNav {
            display: none;
        }

        .multiBet_mode {
            display: flex;
            padding-bottom: 0;

            &>div {

                &.current_state {
                    padding: 0 4vw 0 4vw;
                }
            }
        }
    }

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $BG_Color10;
        border-radius: 20px 20px 0 0;
        border-top: solid 2px $Border_01;
        position: relative;

        li {
            width: calc(100% / 5);
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1vw 0;

            &.notify {
                
                .member_ic {

                    &::before {
                        opacity: 1;
                    }
                }
            }

            i {
                width: 7vw;
                height: 6vw;
                background-position-y: 0%;

                &.home_ic {
                    background-position-x: 0%;
                }

                &.event_ic {
                    background-position-x: 25%;
                }

                &.cs_ic {
                    background-position-x: 50%;
                }

                &.sponsor_ic {
                    background-position-x: 76%;
                }

                &.member_ic {
                    background-position-x: 100%;
                    position: relative;

                    &::before {
                        content: "";
                        width: 2vw;
                        height: 2vw;
                        background: $Font_remind;
                        border-radius: 50px;
                        opacity: 0;
                        position: absolute;
                        top: 0px;
                        right: -3px;
                        z-index: 11;
                    }
                }
            }

            span {
                color: $Font_Color02;
                font-size: 3.6vw;
                font-weight: bold;
                margin-top: 0.3vw;
            }

            &.active {

                i {
                    background-position-y: 100%;
                }

                span {
                    color: $Font_Color04;
                }
            }
        }

        &.mainPageNav {
            z-index: 11;
            flex-shrink: 0;

            li {

                &.active {

                    i {
                        background-position-y: 100%;
                    }

                    p {
                        color: $Font_Color04;
                    }
                }

                i {
                    width: 5.6vw;
                    height: 6.2vw;
                    background-position-y: 0%;
                  
                    &.tutorial_ic {
                        background-position-x: 0%;
                    }

                    &.setMenu_ic {
                        width: 5.5vw;
                        background-position-x: 25%;
                    }

                    &.undone_ic {
                        background-position-x: 50%;
                    }

                    &.done_ic {
                        background-position-x: 75%;
                    }

                    &.refresh_ic {
                        width: 5.5vw;
                        background-position-x: 100%;
                    }
                }
            }
        }

        //串關投注視窗
        &.multiBet_mode {
            display: none;
            height: auto;
            min-height: 18vw;
            flex-direction: column;
            justify-content: unset;
            background: $BG_Color01;
            position: absolute;
            padding-bottom: 7vw;
            bottom: 0;
            left: 0;
            overflow-y: auto;

            &.display {
                display: flex;
            }

            &.active {
                // padding-bottom: 12vw;
                padding-bottom: 0;
                z-index: 12;

                .current_state {
                    padding: 0 4vw 0 4vw;

                    i {
                        transform: rotateX(-180deg);
                    }
                }

                .total_count,
                .checkBlock,
                ul {
                    display: flex;
                }

            }

            .title {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                color: $Font_Color04;
                font-size: 4.8vw;
                font-weight: bold;
                padding: 0 0 0 1.4vw;
                border-left: 0.8vw solid $Font_Color04;
                margin-bottom: 2vw;
            }

            .group_normal {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;

                &:nth-of-type(2) {
                    align-items: flex-end;
                }
            }

            &>div {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 4vw 4vw 4vw 8vw;

                &.current_state {
                    height: 17vw;
                    background: $BG_Color08; 
                    padding: 0 4vw 5vw 4vw;
                    flex-shrink: 0;
    
                    .group {
                        width: auto;
                        display: flex;
                        align-items: center;
                        color: $Font_Color03;
    
                        &:last-child {
                            align-items: baseline;
                        }
                        
                        .count {
                            width: 6vw;
                            height: 6vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: $BG_Color06;
                            border-radius: 50px;
                            color: $BG_Color08;
                            font-size: 3.8vw;
                            font-weight: bold;
                            margin-right: 2vw;
                        }
    
                        .balance {
                            font-size: 3.8vw;
                            margin-right: 1vw;
                        }
    
                        .currency {
                            font-size: 3.2vw;
                            transform: scale(0.8);
                            
                        }
    
                        .balance_num {
                            font-size: 4.6vw;
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            margin-right: 3vw;
                        }
    
                        i {
                            font-size: 3.8vw;
                            translate: transform 0.3s;
                        }
                    }
                }
    
                &.total_count {
                    display: none;
                    background: $Border_06;
                    border-width: 0.2vw 0;
                    border-style: solid;
                    border-color: $Border_04;
                    align-items: unset;

                    .group_normal {

                        &:nth-of-type(1) {
                           width: 100%;
                        }

                        &:nth-of-type(2) {
                            justify-content: unset;
                        }
                    }
    
                    .countNum {
                        margin-right: 0.6vw;
                    }
    
                    .amountNum {
                        margin-left: 0.6vw;
                    }

                    .win {
                        max-width: 44vw;
                        color: $Font_Color03;
                        @include textHidden;

                        .tot {
                            color: $Font_positive;
                            font-weight: bold;
                            margin-left: 1vw;
                        }
                    }

                    .moreType {
                        display: flex;
                        align-items: center;
                        color: $BG_Color02;
                        margin-top: 3vw;

                        &.active {
            
                            i {
                                transform: rotate(0deg);
                            }
                        }
    
                        i {
                            margin-left: 1vw;
                            transform: rotate(180deg);
                            transition: transform 0.3s;
                        }
                    }
    
                    input {
    
                        &.limit {
                            width: auto;
                            height: 8vw;
                            @include input01;
                            background: $BG_Color03;
                            font-size: 3.4vw;
                            padding: 0 2vw;
                            margin-bottom: 2vw;

                            &::placeholder {
                                color: $Font_em-2;
                            }
                        }
                    }
    
                    .totMoney {
                        color: $Font_Color04;
    
                        span {
                            color: $Font_Color03;
                        }
                    }
                }

                &.moreCount {
                    display: none;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1vw;
                    background: $BG_Color00;
                    padding: 4vw;

                    &.display {
                        display: grid;
                    }

                    &>div {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 0.1vw solid $Border_06;
                        border-radius: 1vw;
                        color: $Font_Color06;
                        font-size: 4.2vw;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;

                        &.numBlock {
                            height: 11vw;
                            background: $BG_Color01;
                        }
    
                        &.functionBlock {
                            height: 23vw;
                            grid-row-start: 2 span;
                            background: $BG_Color02;
                        }
                    }
                }
    
                &.checkBlock {
                    display: none;
                    background: $BG_Color00;
                    padding: 4vw;
                    
                    .addBtn {
                        width: 30%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 4vw;
                        color: $Font_Color02;
                        font-size: 4.2vw;
                        flex-shrink: 0;

                        i {
                            margin-right: 1vw;
                        }
                    }

                    button {
                        width: 100%;
                        height: 18vw;
                        @include btnStyle01;
                        border-radius: 3vw;

                        span {
                            font-size: 4.8vw;
                            font-weight: bold;
                        }

                        .total {
                            max-width: 60vw;
                            @include textHidden;

                            .money {
                                font-size: 3.8vw;
                                margin-left: 1vw;
                                
                            }
                        }
                    }
                }
            }

            ul {
                display: none;
                width: 100%;
                height: 100%;
                max-height: 80vw;
                // max-height: 67vw; se
                // max-height: 41vw; 計算機打開時
                flex-direction: column;
                justify-content: flex-start;
                border-radius: 0;
                // padding: 19vw 0 0 0;
                overflow-y: auto;

                li {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: unset;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 0.2vw solid $Border_04;
                    padding: 4vw 4vw 4vw 8vw;
                    position: relative;
    
                    &:last-child {
                        border-bottom: none;
                    }
    
                    .cross_icon {
                        position: absolute;
                        top: 50%;
                        left: 3vw;
                        transform: translateY(-50%);
                    }
    
                    .group_normal {
                        width: 50%;

                        .title {
                            align-items: center;

                            .point {
                                color: $Font_Color06;
                                font-size: 3.6vw;
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: bold;
                            }
                        }
    
                        .betType {
                            color: $Font_Color03;
                            font-size: 4vw;
                            margin-bottom: 2vw;
                        }
                        
                        .teamWrap {
                            display: flex;
                            color: $Font_Color02;
                            font-size: 4vw;
    
                            span {
                                margin: 0 2vw;
                            }
                        }

                        &>p {
                            color: $Font_Color09;
                        }
    
                        .rate {
                            color: $Font_Color09;
                            font-size: 4.6vw;
                            font-weight: bold;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }
        }
    }
}